.vscode/*
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~ #*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
/bin/coff2flat
/bin/coff2noff
/bin/disassemble
*depends
nachos
switch*.s
/userland/filetest
/userland/halt
/userland/matmult
/userland/shell
/userland/sort
/userland/tinyshell
/userland/*.coff
bin/readnoff
userland/echo
userland/tiny_shell
userland/touch
userland/cat
userland/cp
userland/rm
userland/mkdir
userland/ls
userland/lsl
userland/cd
userland/write
userprog/SWAP/SWAP.*
filesys/DISK
DISK
